# General
node_modules/
.env
*.log
.vscode/
.DS_Store

# Frontend
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/build/
frontend/dist/

# Backend
backend/node_modules/
backend/.env
backend/dist/

# Prisma (if used)
prisma/dev.db